<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,424},{273,70}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{273,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{289,70}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{289,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,568},{285,70}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{285,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{289,70}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{289,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,568},{291,70}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{291,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{291,70}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{291,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,496},{293,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{293,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{293,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{293,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,673},{283,70}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{283,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,424},{293,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{293,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{293,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{293,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,640},{267,70}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{267,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{299,70}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{299,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,745},{277,70}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{277,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{279,70}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{279,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,496},{279,70}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{279,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,818},{277,70}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{277,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,642},{271,70}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{271,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,890},{277,70}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{277,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{277,70}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{277,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>Buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,962},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>Buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,516},{142,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{142,51}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>Congreatulation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{351,75}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,6},{351,75}}</string>
                <key>sourceSize</key>
                <string>{589,91}</string>
            </dict>
            <key>MOREGAMES1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,199},{174,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{174,36}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
            <key>MOREGAMES2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,237},{174,32}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{174,32}}</string>
                <key>sourceSize</key>
                <string>{184,50}</string>
            </dict>
            <key>Menu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
            <key>Menu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,569},{140,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
            <key>Next1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,442},{146,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{146,72}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>Next2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,368},{146,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{146,72}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>PLAY1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,368},{84,40}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{84,40}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>PLAY2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,157},{86,40}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{86,40}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>SCORE.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,962},{131,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,9},{131,57}}</string>
                <key>sourceSize</key>
                <string>{283,75}</string>
            </dict>
            <key>Upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,126}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,21},{536,126}}</string>
                <key>sourceSize</key>
                <string>{650,158}</string>
            </dict>
            <key>YOULOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,29},{452,393}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,0},{452,393}}</string>
                <key>sourceSize</key>
                <string>{726,393}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{121,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,6},{121,58}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>hdIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,271},{201,21}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,33},{201,21}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>hfIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{333,23}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,32},{333,23}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>lxIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{453,25}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{453,25}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>noMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,294},{193,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{193,72}}</string>
                <key>sourceSize</key>
                <string>{211,92}</string>
            </dict>
            <key>sdIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{451,25}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,32},{451,25}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>wyIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{325,25}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,34},{325,25}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>zzIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{417,25}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,34},{417,25}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a_language.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:952c9c7cac2c8452e847610c83e5f2b5$</string>
            <key>textureFileName</key>
            <string>a_language.png</string>
        </dict>
    </dict>
</plist>
