<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{231,64}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{231,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,558},{247,64}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{247,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{243,64}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{243,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,529},{247,64}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{247,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{249,64}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{249,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,492},{249,64}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{249,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,463},{251,64}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{251,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{251,64}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{251,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,560},{241,64}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{241,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,426},{251,64}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{251,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,360},{251,64}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{251,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,727},{225,64}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{225,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,397},{257,64}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{257,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,690},{235,64}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{235,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,624},{237,64}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{237,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,595},{237,64}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,27},{237,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,661},{235,64}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{235,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,494},{229,64}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{229,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,626},{235,64}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{235,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{235,64}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{235,64}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>Buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,884},{154,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{154,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>Buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,831},{154,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{154,51}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>Congreatulation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{489,81}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,6},{489,81}}</string>
                <key>sourceSize</key>
                <string>{589,91}</string>
            </dict>
            <key>MOREGAMES1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,936},{172,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{172,36}}</string>
                <key>sourceSize</key>
                <string>{250,38}</string>
            </dict>
            <key>MOREGAMES2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,977},{172,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{172,36}}</string>
                <key>sourceSize</key>
                <string>{250,38}</string>
            </dict>
            <key>Menu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
            <key>Menu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{140,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
            <key>Next1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{172,72}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{172,72}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>Next2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,756},{172,72}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{172,72}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>PLAY1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,272},{88,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{88,32}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>PLAY2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,238},{88,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,19},{88,32}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>SCORE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{283,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{283,65}}</string>
                <key>sourceSize</key>
                <string>{283,75}</string>
            </dict>
            <key>Upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,126}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{536,126}}</string>
                <key>sourceSize</key>
                <string>{580,150}</string>
            </dict>
            <key>YOULOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{460,393}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,0},{460,393}}</string>
                <key>sourceSize</key>
                <string>{726,393}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,692},{227,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{227,58}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>hdIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,397},{209,21}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,32},{209,21}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>hfIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{451,23}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,31},{451,23}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>lxIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{413,23}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,32},{413,23}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>noMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,420},{175,72}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{175,72}}</string>
                <key>sourceSize</key>
                <string>{211,92}</string>
            </dict>
            <key>sdIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{433,21}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,33},{433,21}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>wyIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{433,23}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,33},{433,23}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>zzIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{407,47}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,23},{407,47}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a_language.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:186a409a90a2bc96afaef9924da08a34$</string>
            <key>textureFileName</key>
            <string>a_language.png</string>
        </dict>
    </dict>
</plist>
