<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sbdGod.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{106,124}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{106,124}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>sbdGodLose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{128,120}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{128,120}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>sbdGodLose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{128,118}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{128,118}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>sbdGodWin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,128},{100,124}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{100,124}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>sbdGodWin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{120,132}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{120,132}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>sbdGodWin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,136}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>sbdGodWin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,267},{106,124}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{106,124}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>sbd_a_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,368},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sbd_a_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,338},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sbd_awalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,334},{31,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{31,32}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>sbd_awalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,381},{29,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{29,32}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>sbd_b_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,193},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>sbd_b_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,160},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>sbd_bwalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,245},{37,34}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{37,34}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>sbd_bwalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,298},{35,34}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{35,34}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>sbd_c_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,393},{43,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>sbd_c_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,439},{41,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>sbd_c_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,375},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>sbd_c_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,445},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>sbd_d_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,454},{50,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>sbd_d_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,401},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>sbd_dwalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{49,53}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{49,53}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>sbd_dwalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{49,53}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{49,53}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>sbd_e_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,266},{35,36}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>sbd_e_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,122},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>sbd_e_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,281},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>sbd_e_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,259},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>wjGod.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,140},{62,125}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{62,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>wjGodLose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,254},{110,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{110,119}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>wjGodLose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,124},{110,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{110,119}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>wjGodWin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,274},{68,125}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{68,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>wjGodWin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{68,125}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{68,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>wj_a_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,320},{34,27}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>wj_a_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,195},{42,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>wj_awalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,304},{33,32}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{33,32}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>wj_awalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,349},{31,30}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{31,30}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>wj_b_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,224},{41,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>wj_b_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,160},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>wj_bwalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,122},{37,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{37,36}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>wj_bwalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,226},{35,38}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,38}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>wj_c_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,375},{48,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>wj_c_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,462},{46,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>wj_c_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,419},{46,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>wj_c_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,465},{46,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>wj_d_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,393},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>wj_d_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,454},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>wj_dwalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,401},{47,51}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{47,51}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>wj_dwalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,454},{47,51}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{47,51}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>wj_e_cut0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,459},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>wj_e_cut0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,417},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>wj_e_walk0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,375},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>wj_e_walk0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,421},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a_ActorAndGod.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626fbb4670e95b70b93a7a88a55be416$</string>
            <key>textureFileName</key>
            <string>a_ActorAndGod.png</string>
        </dict>
    </dict>
</plist>
