<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>finger0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{42,41}}</string>
                <key>offset</key>
                <string>{32,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,286},{42,41}}</string>
                <key>sourceSize</key>
                <string>{198,327}</string>
            </dict>
            <key>finger0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{683,134}}</string>
                <key>offset</key>
                <string>{-4,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{683,134}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{683,178}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{683,178}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{685,264}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{685,264}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{687,244}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{687,244}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{691,244}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{691,244}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{691,244}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{691,244}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{647,262}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{647,262}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1586},{607,242}}</string>
                <key>offset</key>
                <string>{34,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{607,242}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{221,232}}</string>
                <key>offset</key>
                <string>{227,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,0},{221,232}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,236},{187,228}}</string>
                <key>offset</key>
                <string>{244,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,0},{187,228}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,572},{115,218}}</string>
                <key>offset</key>
                <string>{280,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,0},{115,218}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,634},{115,212}}</string>
                <key>offset</key>
                <string>{280,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,0},{115,212}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,848},{115,184}}</string>
                <key>offset</key>
                <string>{280,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,0},{115,184}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,792},{115,184}}</string>
                <key>offset</key>
                <string>{280,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{576,0},{115,184}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,466},{117,166}}</string>
                <key>offset</key>
                <string>{280,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,0},{117,166}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,404},{125,166}}</string>
                <key>offset</key>
                <string>{284,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
            <key>finger0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,236},{125,166}}</string>
                <key>offset</key>
                <string>{284,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{575,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{707,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>finger2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcafc64ddb932cab71374e88e287a960$</string>
            <key>textureFileName</key>
            <string>finger2.png</string>
        </dict>
    </dict>
</plist>
