/*!CK:4261878016!*//*1410272663,*/

.sp_abrk6f{background-image:url(/rsrc.php/v2/y_/r/EMKU0Bi9wou.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:170px;width:170px}.sx_207a39{background-position:0 0}.sx_865209{background-position:0 -171px}.sx_bed0bc{width:79px;height:78px;background-position:0 -342px}

#bootloader_5j_8q { height: 42px; }
.bootloader_5j_8q { display:block !important; }