/*!CK:2771500752!*//*1409843313,*/

.unsupportedBrowser,.unsupportedBrowser #contentCurve{background-color:#e1e6ef}.unsupportedBrowserPage{margin:0 auto;width:930px}.unsupportedBrowserBox{text-align:center;padding:30px 20px}.unsupportedBrowserText{margin-left:auto;margin-right:auto;width:570px}.unsupportedBrowserBrowser{display:inline-block;border:1px solid #fff}.unsupportedBrowserBrowser:hover{text-decoration:none;background:#fafafa;border-color:#ddd}.unsupportedBrowserMobile{display:block;margin-left:auto;margin-right:auto;width:320px}

#bootloader_d4OR4 { height: 42px; }
.bootloader_d4OR4 { display:block !important; }