<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{242,66}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{242,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,312},{264,68}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{264,68}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,562},{258,66}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{258,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,494},{264,66}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{264,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,450},{264,66}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{264,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{264,66}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{264,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,382},{264,66}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{264,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{264,66}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{264,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,518},{258,66}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{258,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{264,66}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{264,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{262,66}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{262,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,724},{250,68}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{250,68}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{270,66}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{270,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,718},{250,68}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{250,68}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,586},{254,68}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{254,68}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{256,68}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{256,68}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,700},{252,68}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{252,68}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,656},{246,66}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{246,66}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,648},{252,68}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{252,68}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,630},{252,68}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{252,68}}</string>
                <key>sourceSize</key>
                <string>{300,106}</string>
            </dict>
            <key>Buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,656},{130,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{130,50}}</string>
                <key>sourceSize</key>
                <string>{142,50}</string>
            </dict>
            <key>Buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{130,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{130,51}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>Congreatulation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{477,77}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{477,77}}</string>
                <key>sourceSize</key>
                <string>{589,91}</string>
            </dict>
            <key>MOREGAMES1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,494},{184,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{184,36}}</string>
                <key>sourceSize</key>
                <string>{192,48}</string>
            </dict>
            <key>MOREGAMES2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,532},{182,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{182,32}}</string>
                <key>sourceSize</key>
                <string>{192,48}</string>
            </dict>
            <key>Menu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,933},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
            <key>Menu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,860},{140,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
            <key>Next1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{140,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{140,72}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>Next2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{140,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{140,72}}</string>
                <key>sourceSize</key>
                <string>{198,74}</string>
            </dict>
            <key>PLAY1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,742},{76,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,18},{76,32}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>PLAY2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,708},{76,32}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,18},{76,32}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>SCORE.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,589},{177,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,9},{177,57}}</string>
                <key>sourceSize</key>
                <string>{283,75}</string>
            </dict>
            <key>Upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,116}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{548,116}}</string>
                <key>sourceSize</key>
                <string>{580,150}</string>
            </dict>
            <key>YOULOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,99},{396,393}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,393}}</string>
                <key>sourceSize</key>
                <string>{414,393}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,199},{197,58}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{197,58}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>hdIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,566},{233,21}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,31},{233,21}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>hfIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,259},{266,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{266,51}}</string>
                <key>sourceSize</key>
                <string>{298,77}</string>
            </dict>
            <key>lxIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{449,23}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,31},{449,23}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>noMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{175,72}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{175,72}}</string>
                <key>sourceSize</key>
                <string>{211,92}</string>
            </dict>
            <key>sdIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,27},{429,47}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,18},{429,47}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>wyIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,76},{401,21}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,33},{401,21}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>zzIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{341,45}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,24},{341,45}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a_language1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef0ad94233523bb8204fe591774f8979$</string>
            <key>textureFileName</key>
            <string>a_language1.png</string>
        </dict>
    </dict>
</plist>
