<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,953},{311,70}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{311,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{327,70}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{327,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,665},{321,70}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{321,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{325,70}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{325,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,593},{329,70}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{329,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,521},{329,70}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{329,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,368},{331,70}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{331,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,296},{331,70}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{331,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,737},{319,70}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{319,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,224},{331,70}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{331,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,152},{331,70}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{331,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,955},{303,70}}</string>
                <key>offset</key>
                <string>{-33,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{303,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,80},{335,70}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{335,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,883},{313,70}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{313,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,809},{315,70}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{315,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{317,70}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{317,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{313,70}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{313,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{307,70}}</string>
                <key>offset</key>
                <string>{-31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{307,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,881},{313,70}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{313,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{313,70}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{313,70}}</string>
                <key>sourceSize</key>
                <string>{369,106}</string>
            </dict>
            <key>Buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,574},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{170,50}</string>
            </dict>
            <key>Buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,521},{142,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{142,51}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>Congreatulation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{519,83}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,5},{519,83}}</string>
                <key>sourceSize</key>
                <string>{589,91}</string>
            </dict>
            <key>MOREGAMES1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,683},{160,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,35}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>MOREGAMES2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,720},{158,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{158,31}}</string>
                <key>sourceSize</key>
                <string>{160,35}</string>
            </dict>
            <key>Menu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,610},{160,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{160,71}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
            <key>Menu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,626},{162,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{162,71}}</string>
                <key>sourceSize</key>
                <string>{170,71}</string>
            </dict>
            <key>Next1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1025},{227,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{227,72}}</string>
                <key>sourceSize</key>
                <string>{227,74}</string>
            </dict>
            <key>Next2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,809},{227,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{227,72}}</string>
                <key>sourceSize</key>
                <string>{227,74}</string>
            </dict>
            <key>PLAY1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,118},{92,36}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{92,36}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>PLAY2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,80},{92,36}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{92,36}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>SCORE.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,753},{129,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,7},{129,59}}</string>
                <key>sourceSize</key>
                <string>{283,75}</string>
            </dict>
            <key>Upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{536,126}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,21},{536,126}}</string>
                <key>sourceSize</key>
                <string>{650,158}</string>
            </dict>
            <key>YOULOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,393}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{564,393}}</string>
                <key>sourceSize</key>
                <string>{726,393}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1067},{217,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{217,58}}</string>
                <key>sourceSize</key>
                <string>{227,68}</string>
            </dict>
            <key>hdIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{223,23}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,31},{223,23}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>hfIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,467},{469,25}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,29},{469,25}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>lxIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,494},{467,25}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,32},{467,25}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>noMoney.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,699},{195,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{195,72}}</string>
                <key>sourceSize</key>
                <string>{211,92}</string>
            </dict>
            <key>sdIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{433,25}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,29},{433,25}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>wyIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,440},{481,25}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{481,25}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
            <key>zzIntroduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,29},{363,49}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,22},{363,49}}</string>
                <key>sourceSize</key>
                <string>{539,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a_language.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaf8660abc5ec63260a61cdb1ecb6f74$</string>
            <key>textureFileName</key>
            <string>a_language.png</string>
        </dict>
    </dict>
</plist>
